body{
    margin:0;
    overflow: visible;
}
.product-detail{
    display:block;
    position:relative;
    overflow-x:hidden;
    overflow-y: scroll;
    height:100vh;
    width:100vw;
    background-color:#f5f5f5;
}

.banner-swiper-box {
    width: 100vw;
    height: 249px;

}

.banner-swiper-box .banner-swiper {
    width: 100vw;
    height: 249px;
}

.banner-image {
    width: 100vw;
    height: 249px;
    object-fit: cover;
}



.href-nav {
    height: 45px;
    display: flex;
    background-color: #FFF;
    align-items: center;
    justify-content: space-around;
    z-index:1;
}

.href-nav .item {
    font-size: 12px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #808080;
    transition: 0.3s;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.href-nav .item:hover {
    color: #333;
}

.part1 {
    padding: 5.33vw;
    background-color: #FFF;
    margin-top: 2.67vw;
}

.part1 .line1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 500;
    color: #333333;
    line-height: 24px;
    margin-bottom: 7.33vw;
}

.part1 .line15 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.67vw;
}

.part1 .line2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.part1 .line2 .item {
    display: flex;
    align-items: flex-end;


    font-size: 3.2vw;
    font-family: DanDanFont;
    font-weight: 600;
    color: #333333;
    line-height: 6.4vw;
}

.part1 .line2 .item .t2 {

    font-size: 4.8vw;
    font-family: DanDanFont;
    font-weight: 600;
    color: #FF5252;
    line-height: 6.4vw;
}

.part1 .line2 .item.grey,
.part1 .line15 .item.grey {

    font-size: 2.67vw;
    font-family: DanDanFont;
    font-weight: 500;
    color: #808080;
    line-height: 1;
}

.part1 .line3 {
    height: 13.33vw;
    border-top: 0.27vw solid #F5F7FA;
    display: flex;
    align-items: center;
    width: 100%;
}

.part1 .line3 .left {

    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #333333;
    line-height: 6.4vw;
}

.part1 .line3 .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5.33vw;
}

.part1 .line3 .right .tip {
    display: flex;
    align-items: center;

}

.part1 .line3 .right .tip .icon {
    width: 4.8vw;
    height: 4.8vw;
    object-fit: contain;
    margin-right: 2.13vw;
}

.part1 .line3 .right .tip .tip-name {

    font-size: 3.2vw;
    width: 4em;
    font-family: DanDanFont;
    font-weight: 400;
    color: #808080;
    line-height: 6.4vw;
}

.part1 .line3:last-child {
    border-bottom: 0.27vw solid #F5F7FA;
}

.part2 {
    background-color: #FFFFFF;
    margin-top: 2.67vw;
    padding: 0 5.33vw;
}

.part2 .line {
    padding: 3.47vw 0;
    border-bottom: 0.27vw solid #F5F7FA;
    display: flex;
    align-items: center;
}

.part2 .line .item {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 5.07vw;
    /* border-right: 0.13vw solid #333333; */
    border-left: 0.13vw solid #333;

}

.part2 .line .item .name {
    white-space: nowrap;
    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #999999;
    margin-right: 3.2vw;
    line-height: 6.4vw;
}

.part2 .line .item .content {
    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #333333;
    line-height: 6.4vw;
}

.part2 .line .item .content1 {

    font-size: 14px;
    margin-right: 5.2vw;
    font-family: DanDanFont;
    font-weight: 500;
    color: #FF5252;
    line-height: 6.4vw;
}

.part2 .line .item .content2 {
    min-width: 11.73vw;
    height: 5.33vw;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #FF5252;
    line-height: 6.4vw;
    background: #FFD1D1;
}

.part2 .line .item:first-child {
    border-left: 0;
    padding-left: 0;
}

.part2 .line .item:last-child {
    border-right: 0;
}

.part3 {
    padding: 4.8vw 5.34vw 6.67vw;
    background-color: #FFF;
    margin-top: 2.67vw;

}

.part3 .map {
    width: 89.33vw;
    height: 32.67vw;
    border-radius: 2.13vw;
    background-color: #808080;
}

.part3 .location-text {

    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 400;
    margin-top: 2.8vw;
    color: #333333;
    line-height: 5.33vw;
}

.part3 .btn-come {

    font-size: 3.2vw;
    font-family: DanDanFont;
    font-weight: 400;
    color: #5297FF;
    width: 4em;
    margin: 2.67vw 0 4.93vw auto;

    line-height: 3.2vw;
}

.part3 .line {

    height: 0.27vw;
    background: #F5F7FA;
}

.part4 {
    margin-top: 2.67vw;
    min-height: 204vw;
    padding: 4.8vw 5.33vw;
    background-color: #FFF;
}

.part4 .user-info {
    width: 89.33vw;
    height: 16.67vw;
    padding: 4vw;
    box-sizing: border-box;
    border-radius: 2.13vw;
    background: linear-gradient(-45deg, #FF7070, #FF5252);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.part4 .user-info .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.part4 .user-info .left .icon {
    width: 11.73vw;
    height: 11.73vw;
    object-fit: cover;
    background-color: #808080;
    border-radius: 50%;
    margin-right: 4vw;
}

.part4 .user-info .left .infos .name {

    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 5.33vw;

}

.part4 .user-info .left .infos .phone {

    font-size: 3.2vw;
    font-family: DanDanFont;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1;
    margin-top: 1.87vw;
}

.part4 .user-info .right {

    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 5.33vw;
}

.part4 .transfer-progress {
    margin-top: 5.2vw;
}

.part4 .transfer-progress>.name {

    font-size: 16px;
    font-family: DanDanFont;
    font-weight: 600;
    color: #333333;
    line-height: 24px;
    margin-bottom: 5.33vw;
}

.part4 .transfer-progress .item {
    display: flex;
    align-items: flex-start;
    justify-content: flex;
    height: 21.33vw;
}

.part4 .transfer-progress .item .left .circle {
    width: 5.33vw;
    height: 5.33vw;

    background: #E6E6E6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 24px;
    position: relative;
    margin-right: 4vw;

}

.part4 .transfer-progress .item .left .circle::after {
    content: '';
    width: 0.53vw;
    height: 8vw;
    left: 2.4vw;
    bottom: -8vw;
    background: #E6E6E6;
    position: absolute;
}

.part4 .transfer-progress .item .left .circle::before {
    content: '';
    width: 0.53vw;
    height: 8vw;
    left: 2.4vw;
    background: #E6E6E6;
    top: -8vw;
    position: absolute;
}

.part4 .transfer-progress .item:first-child .left .circle::before {
    display: none;
}

.part4 .transfer-progress .item:last-child .left .circle::after {
    display: none;
}

.part4 .transfer-progress .item .right .t1 {

    font-size: 4vw;
    font-family: DanDanFont;
    font-weight: 500;
    color: #cccccc;
    line-height: 24px;
}

.part4 .transfer-progress .item .right .t2 {
    margi-top: 1.87vw;
    font-size: 3.2vw;
    font-family: DanDanFont;
    font-weight: 400;
    color: #cccccc;
    line-height: 24px;
}

.part4 .transfer-progress .item.hover .right .t1 {
    color: #333;
}

.part4 .transfer-progress .item.hover .right .t2 {
    color: #808080;
}

.part4 .transfer-progress .item.hover .left .circle,
.part4 .transfer-progress .item.hover .left .circle::before,
.part4 .transfer-progress .item.hover .left .circle::after {

    background: #5197FF;
}

.thumbnail {
    object-fit: cover;
}

.mianze .t2 {
    margin-top: 2.13vw;
    font-size: 12px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #808080;
    line-height: 16px;
}

.bottom-btns {
    position: fixed;
    width: 100%;
    z-index: 10;
    bottom: 0;
    left: 0;
    height: 13.33vw;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 1.07vw 0px rgba(0, 0, 0, 0.3);
}

.bottom-btns .left {
    margin-right: 2.67vw;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-around;
    background-color: #fff;
    height: 100%;

}

.bottom-btns .left .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bottom-btns .left .item.hide{
    display: none;
}

.bottom-btns .left .item .icon {
    width: 5.33vw;
    height: 5.33vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bottom-btns .left .item .name {

    font-size:11px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #808080;
    margin-top:  1.33vw;
}

.bottom-btns .right {
    width: 49.06vw;
    height: 100%;
    background: linear-gradient(-45deg, #FF7070, #FF5252);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    font-family: DanDanFont;
    font-weight: 600;
    color: #FFFFFF;
}

.modal-payment-type-list {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.modal-payment-type-list {
    justify-content: flex-end;
}

.modal-discuss {
    justify-content: center;
}

.modal-payment-type-list.hide {
    z-index: -1;
}

.modal-payment-type-list.hide .cover {
    opacity: 0;
}

.modal-payment-type-list .cover {
    transition: 0.3s;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.modal-payment-type-list.hide .payment-type-list {
    transform: translateY(100vh);
}

.modal-payment-type-list .payment-type-list {
    position: relative;
    transition: 0.3s;
    transform: translateY(0);

}

.modal-payment-type-list .payment-type-list .item {
    padding: 4.8vw 17.6v;
    background-color: #fff;
    border-radius: 2.13vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4vw;
}

.modal-payment-type-list .payment-type-list .item .t1 {

    font-size: 15px;
    font-family: DanDanFont;
    font-weight: 500;
    color: #FF5252;
    line-height: 5.33vw;
}

.modal-payment-type-list .payment-type-list .item .t2 {
    margin-top: 2.67vw;
    font-size: 12px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #999999;
    line-height: 16px;
}

.modal-payment-type-list .payment-type-list .item .t3 {

    font-size: 15px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #808080;
    line-height: 5.33vw;
}

.modal-payment-type-list .payment-type-list .item.bottom {
    height: 22.13vw;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}



.hot-goods {
    padding: 1.25rem 0 1.75rem;
}