.title-bar {
    height: 45px;
    position: relative;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
}

.title-bar .back-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    margin: 7px auto 0 9px;
}

.search-bar{
    position: relative;
    margin: 6px 10px;
    border: 2px solid #FF6363;
    height: 32px;
    border-radius: 16px;
}

.search-bar .search-btn{
    position: absolute;
    right: 2px;
    top: 2px;
    height: 28px;
    width: 64px;
    background-color: #FF6363;
    border-radius: 16px;
    text-align: center;
    line-height: 28px;
    color: #FFF;
}
.search-input{
    display: block;
    border: 0;
    /* background-color: #FF6363; */
    height: 100%;
    padding-left: 2.5em;
    width: 60%;
    background-color: transparent;
}
.search-input::placeholder{
    color:#CCC;
}