body{
    background-color: #FFF;
}
.article-index-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title-bar {
    height: 45px;
    position: relative;
    font-size: 17px;
    text-align: center;
    line-height: 45px;
    background-color: #FFF;
    box-shadow: 0 0 5px 5px #EEE;
}

.title-bar .back-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    margin: 7px auto 0 9px;
}

.search-bar {
    position: relative;
    margin: 6px 10px;
    border: 2px solid #FF6363;
    height: 32px;
    border-radius: 16px;
}

.search-bar .search-btn {
    position: absolute;
    right: 2px;
    top: 2px;
    height: 28px;
    width: 64px;
    background-color: #FF6363;
    border-radius: 16px;
    text-align: center;
    line-height: 28px;
    color: #FFF;
}

.search-input {
    display: block;
    border: 0;
    /* background-color: #FF6363; */
    height: 100%;
    padding-left: 2.5em;
    width: 60%;
    background-color: transparent;
}

.search-input::placeholder {
    color: #CCC;
}

.head-banner-box {
    position: relative;
    height: 56vw;
    width: 94vw;
    box-sizing: border-box;
    padding: 3vw 0;
    overflow: hidden;
    margin: 0 3vw;
}

.head-banner {
    position: relative;
    height: 100%;
    width: 100%;
}

.head-banner-box .banner {
    /* background-color: #00000080; */
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

.menu-nav-box {
    position: relative;
    background-color: #FFF;
    padding: 13px 0 13px 3vw;
    height: 38px;
    margin: 2px auto;
    width: 100vw;
    box-shadow: 0 0 5px 5px #EEE;
}

.menu-nav {
    position: relative;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}

.menu-nav-box::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
    height: 63px;
    width: 80px;
    background-image: linear-gradient(90deg, #F5F5F500, #F5F5F5);
}

.menu-btn {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 92px;
    border-radius: 19px;
    transition: 0.5s;
    text-align: center;
    line-height: 38px;
    color: #6D6D6D;
    /* font-weight: bold; */
}

.menu-btn:last-child {
    margin-right: 92px;
}

.menu-btn.hover {
    background-color: #FF6363;
    color: #FFF;
}

.article-list-p {
    position: relative;
}

.article-list {
    position: relative;
    padding: 23px 0 0px 5vw;
    height: 260px;

}

.article-list-title {
    /* font-weight: bold; */
    height: 32px;
    font-size: 18.5px;
    line-height: 1.1;
}

.articles {
    position: relative;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
}

.articles .item {
    width: 127px;
    height: 226px;
    margin-right: 12px;
    background-color: #FFF;
    border-radius:9px;
    overflow: hidden;
    box-shadow: 0 0 5px 5px #EEE;
}

.articles .item .bg {
    height: 162px;
    background-color: #ff6363;
}

.articles .item .name {
    white-space: nowrap;
    width: 100%;
    padding:0 5%;
    box-sizing: border-box;
    font-size: 13px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.articles .item .description {
    margin-top: 4px;
    font-size: 12px;
    padding:0 5%;
    box-sizing: border-box;
    overflow: hidden;
    color:#888;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
}

.list2 {
    position: relative;
    height: 388px;
}

.show-more {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    padding: 17px 5vw;
    color: #1684FC;
}

.list2 .items {
    position: relative;
    padding-top: 2px;
}

.list2 .item {
    margin: 1.5vw 2vw;
    width: 42vw;
    display: inline-block;
    height: 42vw;
    border-radius: 6px;
    box-shadow: 0 0 5px 5px #EEE;
    background-color: #FF636380;
}

.list2 .item .name {
    position: absolute;
    margin: 2vw auto 0 3.5vw;
    color: #FFF;
    max-width: 36vw;
    font-size: 13px;
}

.list2 .item:nth-child(2n) {
    margin-right: 0;
}

.list2 .item:nth-child(2n+1) {
    margin-left: 0;
}

.list2, .list3, .list4 {
    padding: 16px 5vw;
}

.list3 {
    position: relative;

}

.list3 .items {
    margin-top: 2vw;
    overflow: hidden;
    box-shadow: 0 0 5px 5px #EEE;
    border-radius: 8px;
}

.list3 .items .item {
    width: 100%;
    height: 65.5vw;
    border-radius: 8px;
    background-color: #FF6363;
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}

.list3 .items .item .name {
    background-color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12.5vw;
    font-size: 12px;
    padding: 0vw;
    line-height: 2;
    /* font-weight: bold; */
    letter-spacing: 1px;
    padding: 0 2vw;
    box-sizing: border-box;
}


.list4 {
    position: relative;
}

.list4 .items {
    position: relative;
    padding-top: 1.5vw;
}

.list4 .item {
    position: relative;
    height: 28vw;
    overflow: hidden;
    padding-top: 4vw;
    display: flex;
    align-items: center;
    padding-bottom: 4vw;
    background-color: #FFF;
    box-shadow: 0 0 5px 5px #EEE;
    border-radius: 9px;
    margin-bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.list4 .item .thumbnail {
    width: 44vw;
    height: 100%;
    background-color: #FF6363;
    background-position: center;
    background-size: cover;
}

.list4 .item .info {
    flex: 1;
    position: relative;
    height: 100%;
}

.list4 .item .created-at {
    position: absolute;
    font-size: 11px;
    line-height: 1;
    color: #aaa;
    right: 0;
    bottom: 0;
}

.list4 .item .name {
    padding: 0 2vw;
    font-size: 11px;
    line-height: 1.5;
    height: 100%;
    /* font-weight: bold; */
    color: #4d4d4d;
}