body {
    overflow: auto;
    width:100vw;
    overflow-x: hidden;
}

.title-bar {
    height: 45px;
    position: fixed;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background-color: #FFF;
    box-shadow: 0 0 5px 5px #F5F5F580;
}

.title-bar .back-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    margin: 7px auto 0 9px;
}

.breadcrumb {
    position: relative;
    margin: 55px 1rem 20px;
    padding: 1rem 0;
    font-size: 14px;
    border-bottom: 1px solid #F5F5F5;
}

.breadcrumb>a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 15px;
}

.article-content {
    
}

.tips{
    padding: 5vw 0 1vw;
    color: #aaa;
    font-size: 12px;
    border-top: 1px solid #ccc;
    width: 90vw;
    margin: 5vw 5vw 0;
}

.article-content .article-title {
    font-size: 26px;
    text-align: center;
    color: #FF6363;
    margin-bottom: 15px;
}

.article-content .article-info {
    font-size: 16px;
    color: #ccc;
    text-align: center;
}

.article-content .article-text {
    padding: 1rem;
    min-height: 50vh;
    color:#4d4d4d;
}

.other-page {
    margin-top: 20px;
    padding: 0 1rem;
}

.other-page>.btn {
    font-size: 15px;
    color: #333;
    margin: 0.3rem 0;
}

.other-page>.btn>a {
    text-decoration: none;
    color: #aaa;
}

.article-list-p {
    position: relative;
}

.article-list {
    position: relative;
    padding: 23px 0 0px 5vw;
    height: 260px;
}

.article-list-title {
    /* font-weight: bold; */
    height: 32px;
    font-size: 18.5px;
    line-height: 1.1;
}

.articles {
    position: relative;
    height: 100%;
    width: 100%;
}


.articles .item {
    width: 127px;
    height: 226px;
    margin-right: 12px;
    background-color: #FFF;
    border-radius:9px;
    overflow: hidden;
    box-shadow: 0 0 5px 5px #EEE;
}

.articles .item .bg {
    height: 162px;
    background-color: #ff6363;
}

.articles .item .name {
    white-space: nowrap;
    width: 100%;
    padding:0 5%;
    box-sizing: border-box;
    font-size: 13px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.articles .item .description {
    margin-top: 4px;
    font-size: 12px;
    padding:0 5%;
    box-sizing: border-box;
    overflow: hidden;
    color:#888;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
}

.list2,
.list3,
.list4 {
    padding: 16px 5vw;
}

.list3 {
    position: relative;
}

.list3 .items {
    margin-top: 2vw;
    overflow: hidden;
    box-shadow: 0 0 5px 5px #EEE;
    border-radius: 8px;
}

.list3 .items .item {
    width: 100%;
    height: 65.5vw;
    border-radius: 8px;
    background-color: #FF6363;
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}

.list3 .items .item .name {
    background-color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10.5vw;
    font-size: 13px;
    padding: 0vw;
    line-height: 2;
    /* font-weight: bold; */
    letter-spacing: 1px;
    padding: 2vw 2vw 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.show-more{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    padding: 17px 5vw;
    color: #1684FC;
}


.list4 {
    position: relative;
}

.list4 .items {
    position: relative;
    padding-top: 1.5vw;
}

.list4 .item {
    position: relative;
    height: 28vw;
    overflow: hidden;
    padding-top: 4vw;
    display: flex;
    align-items: center;
    padding-bottom: 4vw;
    background-color: #FFF;
    box-shadow: 0 0 5px 5px #EEE;
    border-radius: 9px;
    margin-bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.list4 .item .thumbnail {
    width: 44vw;
    height: 100%;
    background-color: #FF6363;
    background-position: center;
    background-size: cover;
}

.list4 .item .info {
    flex: 1;
    position: relative;
    height: 100%;
}

.list4 .item .created-at {
    position: absolute;
    font-size: 11px;
    line-height: 1;
    color: #aaa;
    right: 0;
    bottom: 0;
}

.list4 .item .name {
    padding: 0 2vw;
    font-size: 13px;
    line-height: 1.5;
    height: 100%;
    /* font-weight: bold; */
    color: #4d4d4d;
}