p {
    margin: 0;
}
.noshow{
    opacity: 0;
}
.search-bar {
    margin: 18vw 17.3vw;
    border: 1vw solid #FFF;
    height: 13vw;
    border-radius: 7vw;
    position: relative;
    animation-delay: 1.1s;
    /* animation: search-catoon 1s linear; */
    animation-duration: 1s;
}
/* @keyframes search-catoon{
    0% {margin:18vw 33vw;}
    100% {margin:18vw 17.3vw}
} */

.search-bar .search-btn {
    position: absolute;
    right: 5vw;
    top: 50%;
    height: 28px;
    width: 35px;
    height: 30.5px;
    margin-top: -16px;
}
.search-tips{
    color: #FFF;
    font-size: 12px;
    position: absolute;
    top: 37.2vw;
    left: 50%;
    margin-left: -5.9em;
    letter-spacing: 0.2em;
    animation-delay: 1.3s;
    animation-duration: 1s;
}

.search-input {
    display: block;
    border: 0;
    /* background-color: #FF6363; */
    height: calc(100% - 1vw);
    padding-left: 1.1em;
    width: 60%;
    background-color: transparent;
    font-size: 1.2em;
    /* font-weight: bold; */
    color: #FFF;
}

.search-input::placeholder {
 color:#FFF;
}

.title-bar {
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 45px;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
}

.title-bar .back-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    margin: 7px auto 0 9px;
}

.items {
    margin-top: calc(45px + 55vw);
    height: calc(100vh - 45px - 55vw);
    box-sizing: border-box;
    overflow-y: scroll;
    width: 100vw;
    overflow-x: hidden;
}

.items>.item {
    box-shadow: 0 0 1.56vw rgba(0, 0, 0, .05);
    padding: 1rem;
    border-radius: 0 1rem;
    width: 90%;
    margin: 10px auto;
    box-sizing: border-box;
}

.items>.item>.t1 {
    font-size: 14px;
    color: #999;
}

.items>.item>.t2 {
    font-size: 16px;
    height: auto;
    font-weight: bold;
    margin-top: 5px;
    color: #999;
}

.items>.item>.t3 {
    font-size: 12px;
    text-align: right;
    margin-right: 5px;
    padding-bottom: 2px;
    color: #999;
}

