body {
    margin: 0;
    overflow: visible;
    background-color: #f9f9f9;
}

#currentLocation {
    display: none;
}

.box1 {
    width: 94%;
    display: inline-block;
    padding: 28px 0 24px;
    font-size: 0;
    margin: 0 3% 0 4px;
}

.box1 .logo {
    width: 214px;
    display: block;
}

.box1 .sfont {
    color: rgb(151, 155, 158);
    font-size: 12px;
    line-height: 1.1;
}

.box1 .bfont {
    font-family: PingFangSC-Semibold, PingFang SC, Microsoft YaHei, Arial, "\5B8B\4F53", Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #0b0f12;
    line-height: 1.1;
    max-width: 1090px;
}

.box1 .title {
    margin-top: 32px;
    position: relative;
}

.box1 .banner-title-code {
    top: 18px;
    font-family: PingFangSC-Regular, PingFang SC, Microsoft YaHei, Arial, "\5B8B\4F53", Helvetica, sans-serif;
    line-height: 1.1;
    right: 0;
    position: absolute;
    font-size: 12px;
    color: #979b9e;
}

.breadcrumb-navigation {
    font-size: 12px;
    text-decoration: none;
    color: #979b9e;
    padding: 20px;
}

.breadcrumb-navigation a,
.breadcrumb-navigation span {
    font-size: 12px;
    text-decoration: none;
    color: #979b9e;
    cursor: pointer;
}

.box2 {
    display: flex;
    align-items: start;
}

.box2 .lp {
    position: relative;
    width: 670px;
    overflow: hidden;
}

.box2 .rp {
    flex: 1;
    margin-left: 60px;
}

.box2 .rp .line1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 24px;
    line-height: 44px;
    align-items: baseline;
    /* padding-bottom: 20px; */
    width: 528px;
    text-align: right;
    background-image: linear-gradient(-45deg, #FFFFFF, #f5f5f5);
    padding: 20px 0 20px 20px;
}

.box2 .rp-f1,
.box2 .rp-f2 {
    font-size: 48px;
    font-family: Avenir-Black, Avenir;
    font-weight: 900;
    color: #fd4d39;
    line-height: 1.1;
    vertical-align: -4px;
}

.box2 .rp-f2 {
    font-size: 24px;
}

.box2 .rp-f1 .yuan {
    font-family: PingFangSC-Regular, PingFang SC, Microsoft YaHei, Arial, "\5B8B\4F53", Helvetica, sans-serif;
    font-size: 24px;
    color: #fd4d39;
    margin-left: 5px;
    line-height: 1.1;
}

.y-price {
    font-size: 14px;
    text-decoration: line-through;
}

.introduce {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    line-height: 27px;
    word-break: break-word;
    margin: 20px 6px;
}

.details {
    margin: 20px;
    position: relative;
}

.details .title {
    font-family: PingFangSC-Medium, PingFang SC, Microsoft YaHei, Arial, "\5B8B\4F53", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #0b0f12;
    line-height: 1.1;
    margin-top: 65px;
    margin-bottom: 28px;
}

.details .name {
    font-family: PingFangSC-Regular, PingFang SC, Microsoft YaHei, Arial, "\5B8B\4F53", Helvetica, sans-serif;
    display: inline-block;
    font-size: 14px;
    color: #979b9e;
    line-height: 1.1;
    margin-bottom: 20px;
    margin-right: 20px;
}

.details .table {
    width: 100%;
    border: 0;
}

.details .table tr {
    width: 100%;
}

.goods {
    position: relative;
    padding: 20px 40px;
    box-sizing: border-box;
    z-index: 1;
}

.goods .item {
    /* min-height: 480rpx; */
    padding: 10px 10px 0;
    background-color: #FFF;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px 2px #f5f5f5;
}

.goods .item .part1 {
    display: flex;
    align-items: flex-start;
}

.goods .item .part1 .thumbnail {
    width: 300px;
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 10px;
}

.goods .item .part1 .infos {
    margin-left: 10px;
}

.goods .item .part1 .t1 {
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
}

.goods .item .part1 .t2 {
    font-size: 12px;
    margin-top: 5px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #DFA96B;
    line-height: 24px;
}

.goods .item .part1 .tips {
    margin-top: 10px;
}

.goods .item .part1 .tips .tip {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    background-color: #FFD1D1;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FF5252;
    margin-right: 20px;
}

.goods .item .part1 .t3 {
    margin-top: 5px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 1.5;
}

.goods .item .part2 {
    margin-top: 5px;
    border-top: 1px solid #F5F7FA;
    font-size: 12px;
    padding: 5px 0;
    font-family: PingFang SC;
    font-weight: 400;
    color: #808080;
    line-height: 1.5;
}

.goods .item .part3 {
    border-top: 1px solid #F5F7FA;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.goods .item .part3 .price {
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 600;
    color: #FF5252;
    margin-right: 5px;
}

.goods .item .part3 .discount {
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FF5252;
}

.goods .item .part3 .distance {
    flex: 1;
    text-align: right;
    font-size: 12px;
    color: #999999;
}

.goods-price {
    margin-top: 16px;
    line-height: 70px;
    background-image: linear-gradient(-45deg, #EEEEEE, #F5F5F5);
    width: 528px;
    padding-right: 20px;
    height: 70px;
    margin-bottom: 20px;
}

.goods-price .icon-icon31 {
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    padding-left: 7px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    background-image: linear-gradient( -45deg, #FF7070, #FF5252);
}

.goods-price span {
    float: left;
}

.m-l16 {
    margin-left: 16px;
}

.product-detail {
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 auto;
    height: 100vh;
    width: 1300px;
    background-color: #fff;
}

.banner-swiper-box {
    width: 630px;
    margin: 0 auto;
    overflow: hidden;
    height: 400px;
}

.banner-swiper-box .banner-swiper {
    width: 100%;
    height: 400px;
}

.banner-image {
    width: 100%;
    object-fit: cover;
}

.href-nav {
    height: 45px;
    display: flex;
    background-color: #FFF;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.href-nav .item {
    font-size: 12px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #808080;
    transition: 0.3s;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.href-nav .item:hover {
    color: #333;
}

.part1 {
    padding: 20px;
    background-color: #FFF;
    margin-top: 10px;
}

.part1 .line1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 500;
    color: #333333;
    line-height: 24px;
    margin-bottom: 20px;
}

.part1 .line15 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.part1 .line2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.part1 .line2 .item {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 600;
    color: #333333;
    line-height: 1.5;
}

.part1 .line2 .item .t2 {
    font-size: 18px;
    font-family: DanDanFont;
    font-weight: 600;
    color: #FF5252;
    line-height: 1.5;
}

.part1 .line2 .item.grey,
.part1 .line15 .item.grey {
    font-size: 12px;
    font-family: DanDanFont;
    font-weight: 500;
    color: #808080;
    line-height: 1;
}

.part1 .line3 {
    height: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

.part1 .line3 .left {
    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #333333;
    line-height: 1.5;
}

.part1 .line3 .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.part1 .line3 .right .tip {
    display: flex;
    align-items: center;
}

.part1 .line3 .right .tip .icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 5px;
}

.part1 .line3 .right .tip .tip-name {
    font-size: 16px;
    width: 4em;
    font-family: DanDanFont;
    font-weight: 400;
    color: #808080;
    line-height: 1.5;
}

.part4 {
    margin-top: 2.67vw;
    min-height: 204vw;
    padding: 4.8vw 5.33vw;
    background-color: #FFF;
}

.user-info {
    width: 548px;
    height: 66px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: linear-gradient(-45deg, #FF7070, #FF5252);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.user-info .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info .left .icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    background-color: #808080;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info .left .infos .name {
    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.5;
}

.user-info .left .infos .phone {
    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1;
    margin-top: 10px
}

.user-info .right {
    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 2;
}

.transfer-progress {
    margin: 20px;
}

.transfer-progress>.title,
.map-container-box .title {
    font-family: PingFangSC-Medium, PingFang SC, Microsoft YaHei, Arial, "\5B8B\4F53", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #0b0f12;
    line-height: 1.1;
    margin-top: 65px;
    margin-bottom: 28px;
}

.transfer-progress .item {
    display: flex;
    align-items: flex-start;
    justify-content: flex;
    height: 110px;
}

.transfer-progress .item .left .circle {
    width: 30px;
    height: 30px;
    background: #E6E6E6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 24px;
    position: relative;
    margin-right: 20px;
}

.transfer-progress .item .left .circle::after {
    content: '';
    width: 4px;
    height: 40px;
    left: 13px;
    bottom: -40px;
    background: #E6E6E6;
    position: absolute;
}

.transfer-progress .item .left .circle::before {
    content: '';
    width: 4px;
    height: 40px;
    left: 13px;
    background: #E6E6E6;
    top: -40px;
    position: absolute;
}

.transfer-progress .item:first-child .left .circle::before {
    display: none;
}

.transfer-progress .item:last-child .left .circle::after {
    display: none;
}

.transfer-progress .item .right .t1 {
    font-size: 24px;
    font-family: DanDanFont;
    font-weight: 500;
    color: #cccccc;
    line-height: 24px;
}

.transfer-progress .item .right .t2 {
    margin-top: 20px;
    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #cccccc;
    line-height: 1.5;
}

.transfer-progress .item.hover .right .t1 {
    color: #333;
}

.transfer-progress .item.hover .right .t2 {
    color: #808080;
}

.transfer-progress .item.hover .left .circle,
.transfer-progress .item.hover .left .circle::before,
.transfer-progress .item.hover .left .circle::after {
    background: #5197FF;
}

.map-container-box {
    padding: 20px;
}

.map-container-box .location-text {
    margin-top: 20px;
    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #4d4d4d;
    line-height: 1.5;
}

.map-container-box .btn-come {
    background-color: #ff9a52;
    padding: 5px;
    width: 4em;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    /* float: right; */
    position: absolute;
    right: 20px;
    bottom: 1em;
    cursor: pointer;
}

#map_container {
    width: 630px;
    height: 400px;
    background-image: linear-gradient(45deg, #ff9a52, transparent);
}

.thumbnail {
    object-fit: cover;
}

.mianze .t2 {
    margin-top: 2.13vw;
    font-size: 12px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #808080;
    line-height: 16px;
}

.bottom-btns {
    position: fixed;
    width: 60px;
    height: 300px;
    z-index: 1000;
    bottom: 130px;
    right: 50%;
    margin-right: -750px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #f5f5f5;
}

.bottom-btns .top {
    background-color: #fff;
}

.bottom-btns .top .item {
    height: 60px;
    text-align: center;
}

.bottom-btns .top .item.hide {
    display: none;
}

.bottom-btns .top .item .icon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px auto;
}

.bottom-btns .top .item .name {
    font-size: 11px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #808080;
    margin-top: 10px;
}

.bottom-btns .submit {
    width: 60px;
    height: 60px;
    background: linear-gradient(-45deg, #FF7070, #FF5252);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: DanDanFont;
    font-weight: 600;
    color: #FFFFFF;
}

.modal-payment-type-list {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-payment-type-list {
    justify-content: flex-end;
}

.modal-discuss {
    justify-content: center;
}

.modal-payment-type-list.hide {
    z-index: -1;
}

.modal-payment-type-list.hide .cover {
    opacity: 0;
}

.modal-payment-type-list .cover {
    transition: 0.3s;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100vh;
}

.modal-payment-type-list.hide .payment-type-list {
    transform: translateY(100vh);
}

.modal-payment-type-list .payment-type-list {
    position: relative;
    transition: 0.3s;
    transform: translateY(0);
}

.modal-payment-type-list .payment-type-list .item {
    padding: 4.8vw 17.6v;
    background-color: #fff;
    border-radius: 2.13vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4vw;
}

.modal-payment-type-list .payment-type-list .item .t1 {
    font-size: 15px;
    font-family: DanDanFont;
    font-weight: 500;
    color: #FF5252;
    line-height: 5.33vw;
}

.modal-payment-type-list .payment-type-list .item .t2 {
    margin-top: 2.67vw;
    font-size: 12px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #999999;
    line-height: 16px;
}

.modal-payment-type-list .payment-type-list .item .t3 {
    font-size: 15px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #808080;
    line-height: 5.33vw;
}

.modal-payment-type-list .payment-type-list .item.bottom {
    height: 22.13vw;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}