.container {
    background-color: #F5F7FA;
    height: 100vh;
    overflow: hidden;
    width:1300px;
    margin:0 auto;
}

 ::placeholder {
    font-size: 18px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #CCCCCC;
}

#pc .hot-goods{
    padding-top:120px;
}
#goods_list{
    position: relative;
    width:100%;
    height:100vh;
    overflow-y: scroll;
    background-color: #fff;
}
.container .select-nav {
    height: 50px;
    background-color: #FFF;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    align-items: center;
    justify-content: space-around;
}

.container .select-nav .item {
    font-size: 18px;
    font-family: DanDanFont;
    font-weight: 500;
    color: #808080;
    transition: 0.3s;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-right: 10px;
    cursor: pointer;
}

.container .select-nav .item::after {
    content: '';
    width: 0;
    right: 0;
    top: 50%;
    margin-top: -2px;
    position: absolute;
    height: 0;
    border-top: 4px solid #808080;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: 0.3s;
}

.container .select-nav .item.hover {
    color: #333;
}

.container .select-nav .item::after {
    border-top: 6px solid #333;
}

.goods {
    position: relative;
    padding: 118px 10px 0;
    box-sizing: border-box;
    z-index: 1;
    height: 100vh;
    background-color: #fff;
    overflow-y: scroll;
}

.goods .item {
    /* min-height: 480rpx; */
    padding: 5px 5px 0;
    background-image: linear-gradient(-45deg,#d4a112,#EEE);
    border-radius: 10px;
    margin-bottom: 10px;
}

.goods .item .part1 {
    display: flex;
    align-items: flex-start;
}

.goods .item .part1 .thumbnail {
    width: 300px;
    min-width: 300px;
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 10xp;
}

.goods .item .part1 .infos {
    margin-left: 10px;
}

.goods .item .part1 .t1 {
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: DanDanFont;
    font-weight: 500;
    color: #333333;
}

.goods .item .part1 .t2 {
    font-size: 12px;
    margin-top: 2px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #DFA96B;
    line-height: 24px;
}

.goods .item .part1 .tips {
    margin-top:10px;
}

.goods .item .part1 .tips .tip {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    background-color: #FFD1D1;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #FF5252;
    margin-right: 5px;
}

.goods .item .part1 .t3 {
    margin-top:5px;
    font-size: 11px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
}

.goods .item .part2 {
    margin-top: 5px;
    border-top: 1px solid #F5F7FA;
    font-size: 12px;
    padding:  10px 0;
    font-family: DanDanFont;
    font-weight: 400;
    color: #808080;
    line-height: 20px;
}

.goods .item .part3 {
    border-top: 1px solid #F5F7FA;
    /* margin-top: 20px; */
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.goods .item .part3 .price {
    font-size: 12px;
    font-family: DanDanFont;
    font-weight: 600;
    color: #FF5252;
    margin-right: 3.33vw;
}

.goods .item .part3 .discount {
    font-size: 12px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #FF5252;
}

.goods .item .part3 .distance {
    flex: 1;
    text-align: right;
    font-size: 12px;
    color: #999999;
}

.modal-select-list {
    height: 100vh;
    padding-top: 50px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
}

.modal-select-list.show {
    z-index: 10;
}

.modal-select-list .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    opacity: 0;
}

.modal-select-list.show .cover {
    transition: 0.3s;
    opacity: 1;
}

.modal-select-list .modal-select-list-2-content,
.modal-select-list .modal-select-list-3-content,
.modal-select-list .modal-select-list-4-content {
    position: absolute;
    right: 0;
    width: 500px;
    top: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    transition: 0.3s;
    height: 100vh;
    transform: translateX(100vw);
    display: none;
}

.modal-select-list .modal-select-list-2-content,
.modal-select-list .modal-select-list-4-content {
    padding: 50px 10px 0;
    display: block;
}

.modal-select-list .modal-select-list-3-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 0 0;
}

.modal-select-list.show .modal-select-list-2-content.show,
.modal-select-list.show .modal-select-list-3-content.show,
.modal-select-list.show .modal-select-list-4-content.show {
    opacity: 1;
    transform: translateX(0);
}

.modal-select-list .modal-select-list-2-content .input-box {
    display: flex;
    align-items: center;
}

.modal-select-list-2-content .input-box .input-min,
.modal-select-list-2-content .input-box .input-max {
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #f0f2f5;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 0 4px 0px #eee;
    font-family: 'DanDanFont';
    font-weight: bold;
    color: #333;
}

.input-min-placeholder,
.input-max-placeholder {
    font-size: 12px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #ccc;
}

.modal-select-list-2-content .to {
    width: 12px;
    height: 1px;
    background: #CCCCCC;
    margin: auto 0.93vw;
}

.modal-select-list-2-content .prices {
    margin-top: 22px;
}

.modal-select-list-2-content .prices .item:hover {
    background: linear-gradient(-45deg, #FF7070, #FF5252);
    color: #f5f7fa;
}

.modal-select-list-2-content .prices .item {
    transition: 0.3s;
    width: 100%;
    height: 50px;
    /* border-radius: 20px; */
    background-color: #F5F7FA;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: DanDanFont;
    box-sizing: border-box;
    font-weight: bold;
    color: #808080;
    margin-bottom: 30px;
    box-shadow: 0 0 4px 0px #eee;
    cursor: pointer;
}

.modal-select-list-2-content .prices .item:nth-child(2n-1) {
    margin-right: 10px;
}

.modal-select-list-2-content .btns {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-select-list-2-content .btns .btn-cancel,
.modal-select-list-2-content .btns .btn-ok {
    width: 240px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 20px; */
    font-size: 18px;
    font-family: 'DanDanFont';
    /* font-weight: bold; */
    cursor: pointer;
}

.modal-select-list-2-content .btn-cancel {
    background: #F5F7FA;
    color: #808080;
}

.modal-select-list-2-content .btn-ok {
    background: linear-gradient(-45deg, #FF7070, #FF5252);
    color: #fff;
}

.modal-select-list-3-content .line1 {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    height: 150px;
}

.modal-select-list-3-content .line1 .left .t1 {
    font-size: 12px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #CCCCCC;
}

.modal-select-list-3-content .line1 .left .t2 {
    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #333;
}

.modal-select-list-3-content .line1 .left,
.modal-select-list-3-content .line1 .right {
    display: flex;
    align-items: center;
}

.modal-select-list-3-content .line1 .right .t1 {
    font-size: 12px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #FF5252;
}

.modal-select-list-3-content .line1 .right .icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-left:5px;
}

.modal-select-list-3-content .areas {
    flex: 1;
}

.modal-select-list-3-content .areas .item {
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #333333;
    position: relative;
}

.modal-select-list-3-content .areas .item::after {
    content: '';
    bottom: 0;
    left: 10px;
    width: 622px;
    height: 1px;
    position: absolute;
    background-color: #f5f7fa;
}

.modal-select-list-3-content .areas .item.hover {
    background-color: #f5f7fa;
}

.modal-select-list-3-content .areas .item.hover::before {
    content: '';
    width: 20px;
    height: 10px;
    position: absolute;
    top: 50px;
    right: 70px;
    border-bottom: 1px solid #ff5252;
    border-left: 1px solid #ff5252;
    transform: rotate(-45deg);
}

.modal-select-list-4-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal-select-list-4-content .select-list {
    position: relative;
    height: 70vh;
}

.modal-select-list-4-content .select-list .items {
    position: relative;
}

.sub-list .name {
    margin-top: 22px;
    margin-bottom: 10px;
    height: 20px;
    line-height: 1;
    font-size: 18px;
    font-family: DanDanFont;
    font-weight: bold;
    color: #333333;
}

.modal-select-list-4-content .select-list .items .item {
    width: 140px;
    height: 50px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Dandan;
    font-weight: 400;
    color: #808080;
    background-color: #F5F7FA;
    border: 1px solid #f5f7fa;
    margin: 10px;
    box-shadow: 0 0 4px 0 #eee;
    cursor: pointer;
}

.modal-select-list-4-content .select-list .items .item.hover {
    background-color: #fff;
    color: #FF5252;
    border: 1px solid #FF5252;
}

.modal-select-list-4-content .select-list .items .item:nth-child(2n+1) {
    margin-right: 10px;
}

.modal-select-list-4-content .btns {
    border-bottom: 27.5px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.67vw;
}

.modal-select-list-4-content .btns .btn-cancel,
.modal-select-list-4-content .btns .btn-ok {
    width: 240px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 20px; */
    font-size: 18px;
    font-family: 'DanDanFont';
    /* font-weight: bold; */
    cursor: pointer;
}

.modal-select-list-4-content .btns .btn-cancel {
    background: #F5F7FA;
    color: #808080;
}

.modal-select-list-4-content .btns .btn-ok {
    background: linear-gradient(-45deg, #FF7070, #FF5252);
    color: #fff;
}

.container .search-nav-box {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 50px;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-top: 1px solid #f5f5f5;
    box-shadow: 0 0px 20px 5px #eee
}

.search-nav-box .search-nav {
    width: 900px;
    height: 50px;
    background: #F5F7FA;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
}

.search-nav-box .search-nav .search-icon {
    width: 12px;
    height: 12px;
    object-fit: contain;
}

.search-nav-box .search-nav .search-input {
    border: 0;
    padding: 0 0 0 5px;
    flex: 1;
    background-color: transparent;
    font-size: 18px;
    font-family: DanDanFont;
    font-weight: 400;
}

.container .history-search {
    margin-top: 100px;
    padding: 50px 50px 0;
}

.container .history-search .line1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .history-search .line1 .t1 {
    font-size: 14px;
    font-family: DanDanFont;
    font-weight: 500;
    color: #333333;
}

.container .history-search .line1 .btn-clean {
    width: 20px;
    height: 10px;
    object-fit: contain;
}

.container .history-search .item,
.container .hot-search .item {
    padding: 3.6vw 5.33vw 0.8vw 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-family: DanDanFont;
    font-weight: 400;
    color: #333333;
    line-height: 10px;
}

.container .hot-search {
    margin-top: 5.5px;
    padding: 4.67vw 5.33vw 0;
}

.container .hot-search .t1 {
    font-size: 14px;
    padding-right: 12px;
    width: 4em;
    line-height: 1;
    font-family: DanDanFont;
    font-weight: 500;
    color: #333333;
    background: linear-gradient(90deg, #FFFFFF, #FF7854, #FF5252);
}

.btn-hide-search {
    height: 150px;
    border-radius: 6.67vw;
    width: 80vw;
    background-color: #E5E5E5;
    color: #4D4D4D;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -40vw;
    z-index: 99;
}